/* Input and Select Material */

.input-field{
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.input-field>input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
.input-field>input:focus{
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.input-field>label{
    color: #9e9e9e;
    position: absolute;
    top: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    -o-transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
        transform: translateY(12px);
}

.input-field>label:not(.label-icon).active{
    -webkit-transform: translateY(-14px) scale(0.8);
    -ms-transform: translateY(-14px) scale(0.8);
        transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
        transform-origin: 0 0;
}


.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 90%;
  height: 40px;
}

.select-styled {
  position: absolute;
  margin-left: 35px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  padding: 8px 15px;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #9e9e9e transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #9e9e9e transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
          box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  background-color: white;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  color: #26a69a;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover{
    background-color: rgba(0,0,0,0.1);
}
.select-options li[rel="hide"] {
  display: none;
}

.newElement{
    background-color: #4db6ac;
    padding: 0;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 1.6rem;
    display: inline-block;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 50px;
}

/* Modal panel */

.addContainer{
    background-color: rgba(0,0,0,.5);
    z-index: 999;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.addPanel{
    background: -webkit-radial-gradient(circle, #ffffff, #f7f7f7, #ecf0f1);
    background: -o-radial-gradient(circle, #ffffff, #f7f7f7, #ecf0f1);
    background: radial-gradient(circle, #ffffff, #f7f7f7, #ecf0f1);
    position: relative;
    height: auto;
    width: 40%;
    left: 30%;
    top: calc(50% - 275px);
    border-radius: 10px;
    padding-bottom: 50px;
    overflow-y: auto;
    max-height: 80%;
}

.addPanel::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.addPanel::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.addPanel::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d3d3d3;
}

.closePanel{
    color: #ff5252;
    font-size: 40px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 999;
}

.insidePanel{
    padding: 0 15px;
    position: relative;
    clear: both;
    margin-left: 25px;
}

.addPanel, .addContainer{
    display: none;
    position: fixed;
}

.btn{
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);;
}

.red-accent-2{
    background-color: #ff5252 !important;
}


/* Radial Button */

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}
.md-radio {
  margin: 16px 0;
}
.md-radio.md-radio-inline {
  display: inline-block;
}
.md-radio input[type="radio"] {
  display: none;
}
.md-radio input[type="radio"]:checked + label:before {
  border-color: #337ab7;
  -webkit-animation: ripple 0.2s linear forwards;
          animation: ripple 0.2s linear forwards;
}
.md-radio input[type="radio"]:checked + label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.md-radio label {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}
.md-radio label:before, .md-radio label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition-property: border-color, -webkit-transform;
  transition-property: border-color, -webkit-transform;
  -o-transition-property: transform, border-color;
  transition-property: transform, border-color;
  transition-property: transform, border-color, -webkit-transform;
}
.md-radio label:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}
.md-radio label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background: #337ab7;
}
@media(max-width: 992px){
    .addPanel{
        width: 100%;
        left: 0;
        height: 80%;
        margin-top: 20%;
    }
}
