@import url('https://fonts.googleapis.com/css?family=Imprima|Open+Sans');

body{
    background: -webkit-radial-gradient(circle, #ffffff, #f7f7f7, #ecf0f1);
    background: -o-radial-gradient(circle, #ffffff, #f7f7f7, #ecf0f1);
    background: -moz-radial-gradient(circle, #ffffff, #f7f7f7, #ecf0f1);
    background: radial-gradient(circle, #ffffff, #f7f7f7, #ecf0f1);
}

.title{
    margin-left: 40px;
    text-align: left;
    font-size: 45px;
    color: #333;
    font-weight: bold;
    font-family: "Imprima",sans-serif;
}
