.title{
    font-family: 'Imprima', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.newAluno{
    background-color: #4db6ac;
    padding: 0;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 1.6rem;
    display: inline-block;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 20px !important;
}

.notFound{
    padding: 15px 50px;
    text-align: left;
    font-family: 'Imprima', sans-serif;
    background-color: white;
    border-radius: 8px;
    font-size: 40px;
    font-weight: bold;
}

.alunoContainer{
    padding: 15px 50px;
    text-align: left;
    font-family: 'Imprima', sans-serif;
    background: #AAFFA9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #11FFBD, #AAFFA9);
    background: -o-linear-gradient(right, #11FFBD, #AAFFA9);
    background: linear-gradient(to left, #11FFBD, #AAFFA9);
    border-radius: 8px;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

#birthdayIcon{
    margin-right: 10px;
    color: #f06292;
    font-size: 40px;
}

.alunoContainer *{
    display: inline-block;
}

.buttonsAluno{
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.buttonsAluno *{
    margin-right: 10px;
}

.options{
    display: none;
}

#core{
    padding: 0 40px;
}

.setPresenca{
    color: #009688;
}

.setFalta{
    color: #ef5350;
}

.showOptions{
    color: #ff4081;
}

.setChange{
    color: #ffa726;
}

.setGraduated{
     color: #42a5f5;
}

.mdi-approval{
    color: #ff8f00;
}

.mdi-alert-decagram, .mdi-close-octagon, .mdi-alert, .mdi-alert-octagon{
    color: #ef5350;
}

#saveChamada{
    font-weight: bold;
    font-size: 20px;
    background-color: #ef5350;
    margin-top: 30px;
    margin-bottom: 25px;
}

#content-search{
    max-height: 200px;
    overflow-y: scroll;
}

#dropdown-alunos{
    padding: 0px;
}

.matriculaN{
    font-size: 20px;
    vertical-align: text-top;
    color: #f05350;
}

@media(max-width: 750px){
    .alunoContainer{
        font-size: 30px;
        padding: 15px;
    }
    .buttonsAluno{
        display: inline-block;
        position: relative;
        font-size: 30px;
        margin-left: 10px;
    }
    .nomeAluno{
        font-size: 20px;
    }
    .matriculaN{
        font-size: 15px;
        margin-right: 20px;
        vertical-align: top;
    }
}

@media(max-width: 1000px){
    .buttonsAluno{
        display: inline-block;
        position: relative;
        margin-left: 10px;
    }
}
