#core{
    padding: 0 40px;
    padding-bottom: 50px;
}

.notFound{
    padding: 15px 50px;
    text-align: left;
    font-family: 'Imprima', sans-serif;
    background-color: white;
    border-radius: 8px;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.table-responsive{
    margin-top: 50px;
}
@media(max-width: 800px){
    #core{
        padding: 0 5px;
    }
}
