@import url('https://fonts.googleapis.com/css?family=Imprima|Open+Sans');

body{
    background: -webkit-radial-gradient(circle, #ffffff, #f7f7f7, #ecf0f1);
    background: -o-radial-gradient(circle, #ffffff, #f7f7f7, #ecf0f1);
    background: -moz-radial-gradient(circle, #ffffff, #f7f7f7, #ecf0f1);
    background: radial-gradient(circle, #ffffff, #f7f7f7, #ecf0f1);
}

.horarioContainer{
    font-family: 'Imprima', sans-serif;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    cursor: pointer;
    position: relative;
}

.notFound{
    padding: 15px 50px;
    text-align: left;
    font-family: 'Imprima', sans-serif;
    background-color: white;
    border-radius: 8px;
    font-size: 40px;
    font-weight: bold;
}

.linkHorario,
.linkHorario:visited,
.linkHorario:link,
.linkHorario:hover,
.linkHorario:active{
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.shadow{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.horarioTitle{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    display: inline-block;
}

.labelHorario{
    margin-right: 10px;
    color: #66bb6a;
}

.descricao{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    right: 50px;
    top: 22.5px;
}

.date{
    margin-right: 10px;
}

.rounded{
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;
    background-color: #ef5350;
    color: white
}

.btn{
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);;
}

.red-accent-2{
    background-color: #ff5252 !important;
}

.day1{
    color: #66bb6a;
}
.day2{
    color: #4fc3f7;
}
.day3{
    color: #7c4dff;
}
.day4{
    color: #ff1744;
}
.day5{
    color: #fb8c00;
}
.day6{
    color: #f06292;
}

@media(max-width: 992px){
    .horarioContainer{
        font-size: 30px;
        padding: 15px;
        width: 100%;
        height: auto;
    }
    .horarioTitle{
        margin-left: 0px;
    }
    .descricao{
        display: inline-block;
        position: relative;
        font-size: 20px;
        right: -5px;
        margin-bottom: 10px;
    }
    .nomeAluno{
        font-size: 20px;
    }
}
