.alunoContainer{
    padding: 15px 50px;
    text-align: left;
    font-family: 'Imprima', sans-serif;
    background: #AAFFA9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #11FFBD, #AAFFA9);
    background: -o-linear-gradient(right, #11FFBD, #AAFFA9);
    background: linear-gradient(to left, #11FFBD, #AAFFA9);
    border-radius: 8px;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}
.alunoContainer *{
    display: inline-block;
}

.buttonsAluno{
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.buttonsAluno *{
    margin-right: 10px;
}

#core{
    padding: 0 40px;
    padding-top: 40px;
}

.setOcorrencia{
    color: #ef5350;
}
